
/*This site uses master values to control
zooming and scaling for responsive design*/

html {
  /* Margin Variables */
  --white-color: rgb(243,243,243);
  --black-color: rgb(33, 33, 33);
  --light-grey-color: rgb(163, 163, 163);
  --medium-grey-color: rgb(61, 61, 61);
  --dark-grey-color: rgb(39, 39, 39);
  --highlight-color: rgb(240, 135, 7);

  /* Scaling Variables */
  --scale: 1rem; /*DO NOT CHANGE!!!!*/
  --scale-min: 1.25vh; /*positive vh only*/
  --scale-max: 3.2vh; /*positive vh only*/

  /* Margin Variables */
  --margin-base: 0.5; /*positive number only*/
  --margin-double: calc(var(--margin-base) * 2); 
  --margin-three-quarter: calc(var(--margin-base) * 0.75); 
  --margin-half: calc(var(--margin-base) * 0.5); 
  --margin-quarter: calc(var(--margin-base) * 0.25); 
  --margin-large: calc(var(--margin-base) * 5);
  --margin-header-top: 8; /*positive number only*/

  /* size Variables */
  --logo-height: 2; /*positive number only*/
  --h1-height: 1.3; /*positive number only*/
  --h2-height: 1.2; /*positive number only*/
  --h3-height: 1.0; /*positive number only*/
  --h4-height: 0.75; /*positive number only*/
  --nav-letter-space: 0.05; /*positive number only*/
  --nav-shift: -6; /*negative number only*/
  --hr-width: 15; /*positive number only*/
  --hr-height: 0.05; /*positive number only*/
  --btn-height: 2;

  scroll-behavior: smooth;
}


html *{
  margin: 0; /*DO NOT CHANGE!!!!*/
  padding: 0; /*DO NOT CHANGE!!!!*/
}

::-webkit-selection {
  color: var(--white-color);
  background: var(--highlight-color);
}

::-moz-selection {
  color: var(--white-color);
  background: var(--highlight-color);
}

::selection {
  color: var(--white-color);
  background: var(--highlight-color);
}

body {
  font-family: "Montserrat", Georgia, serif;
  font-size: 16px; /*DO NOT CHANGE!!!!*/
  color: var(--white-color);
  background: var(--black-color);
  width: 100%;
}

main {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr{
  width: clamp(calc(var(--hr-width) * var(--scale-min)), calc(var(--hr-width) * var(--scale)), calc(var(--hr-width) * var(--scale-max)));
  height: clamp(calc(var(--hr-height) * var(--scale-min)), calc(var(--hr-height) * var(--scale)), calc(var(--hr-height) * var(--scale-max)));
  background: var(--light-grey-color);
  border: none;
}

a {
  font-size: clamp(calc(var(--h1-height) * var(--scale-min)), calc(var(--h1-height) * var(--scale)), calc(var(--h1-height) * var(--scale-max)));
  color: var(--light-grey-color);
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover, a:active, a:focus {
  color: var(--highlight-color);
  outline: none;
  text-decoration: none;
}

input:focus-visible, a:focus-visible{
  border: 0.1em solid var(--highlight-color);

}

h1, h2, h3, h4 {
  color: var(--white-color);
  font-family: "Cormorant Garamond", Georgia, serif;
  font-weight: 400;
}

h1{
  font-size: clamp(calc(var(--h1-height) * var(--scale-min)), calc(var(--h1-height) * var(--scale)), calc(var(--h1-height) * var(--scale-max)));
  height: clamp(calc(var(--h1-height) * var(--scale-min)), calc(var(--h1-height) * var(--scale)), calc(var(--h1-height) * var(--scale-max)));
}

h2{
  font-size: clamp(calc(var(--h2-height) * var(--scale-min)), calc(var(--h2-height) * var(--scale)), calc(var(--h2-height) * var(--scale-max)));
  height: clamp(calc(var(--h2-height) * var(--scale-min)), calc(var(--h2-height) * var(--scale)), calc(var(--h2-height) * var(--scale-max)));
}

h3{
  font-size: clamp(calc(var(--h3-height) * var(--scale-min)), calc(var(--h3-height) * var(--scale)), calc(var(--h3-height) * var(--scale-max)));
  height: clamp(calc(var(--h3-height) * var(--scale-min)), calc(var(--h3-height) * var(--scale)), calc(var(--h3-height) * var(--scale-max)));
}

h4{
  font-size: clamp(calc(var(--h4-height) * var(--scale-min)), calc(var(--h4-height) * var(--scale)), calc(var(--h4-height) * var(--scale-max)));
  height: clamp(calc(var(--h4-height) * var(--scale-min)), calc(var(--h4-height) * var(--scale)), calc(var(--h4-height) * var(--scale-max)));
}



/*Nav/////////////////////////////////////*/

#mcelec-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  background-color: var(--black-color);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#mcelec-logo-svg{
  height: clamp(calc(var(--logo-height) * var(--scale-min)), calc(var(--logo-height) * var(--scale)), calc(var(--logo-height) * var(--scale-max)));
  margin-bottom: clamp(calc(var(--margin-base) * var(--scale-min)), calc(var(--margin-base) * var(--scale)), calc(var(--margin-base) * var(--scale-max)));
  margin-top: clamp(calc(var(--margin-double) * var(--scale-min)), calc(var(--margin-double) * var(--scale)), calc(var(--margin-double) * var(--scale-max)));
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#mcelec-logo-side-svg{
  height: 0;
  margin-top: 0;
}

#mcelec-nav.scrolled #mcelec-logo-side-svg{
  /* margin-top: clamp(calc(var(--margin-double) * var(--scale-min)), calc(var(--margin-double) * var(--scale)), calc(var(--margin-double) * var(--scale-max))); */
  margin-left: clamp(calc(var(--margin-base) * var(--scale-min)), calc(var(--margin-base) * var(--scale)), calc(var(--margin-base) * var(--scale-max)));
  height: clamp(calc(var(--logo-height) * var(--scale-min)), calc(var(--logo-height) * var(--scale)), calc(var(--logo-height) * var(--scale-max)));
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 30%;
  left: 0;
  height: 40%;
}



#mcelec-name {
  color: var(--white-color);
  margin-bottom: clamp(calc(var(--margin-three-quarter) * var(--scale-min)), calc(var(--margin-three-quarter) * var(--scale)), calc(var(--margin-three-quarter) * var(--scale-max)));
  font-weight: 600;
  font-family: Helvetica, sans-serif;
}



#mcelec-nav ul {
  display: flex;
  justify-content: space-between;
  gap: clamp(calc(var(--margin-base) * var(--scale-min)), calc(var(--margin-base) * var(--scale)), calc(var(--margin-base) * var(--scale-max)));
  margin-top: clamp(calc(var(--margin-half) * var(--scale-min)), calc(var(--margin-half) * var(--scale)), calc(var(--margin-half) * var(--scale-max)));
  margin-bottom: clamp(calc(var(--margin-base) * var(--scale-min)), calc(var(--margin-base) * var(--scale)), calc(var(--margin-base) * var(--scale-max)));
}

#mcelec-nav ul li{
  display: flex;
}

#mcelec-nav ul li a {
  letter-spacing: clamp(calc(var(--nav-letter-space) * var(--scale-min)), calc(var(--nav-letter-space) * var(--scale)), calc(var(--nav-letter-space) * var(--scale-max)));
  font-weight: 500;
  text-decoration: none;
}


#mcelec-nav ul li.active a {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#mcelec-nav ul li.active a:after {
  content: '';
  width: 2em;
  height: 0.15em;
  background: var(--highlight-color);
}

#nav-contact{
  margin-right: clamp(calc(var(--margin-base) * var(--scale-min)), calc(var(--margin-base) * var(--scale)), calc(var(--margin-base) * var(--scale-max)));
  --hh: clamp(calc(var(--logo-height) * var(--scale-min)), calc(var(--logo-height) * var(--scale)), calc(var(--logo-height) * var(--scale-max)));
  --hhh: calc(var(--hh)*0.60);
  height: var(--hhh);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: calc(calc(100% - var(--hhh)) / 2);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

#nav-phone-icon{
  height: 100%;
  filter:  saturate(0%) brightness(300%);
}

#nav-phone-svg{
  height: 100%;
} 

#nav-contact:hover #nav-phone-icon, #nav-contact:active #nav-phone-icon, #nav-contact:focus #nav-phone-icon{
  filter: saturate(1000%) hue-rotate(60deg) brightness(250%);
}



#nav-phone-number{
  height: 1em;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-left: 3%;
  color: var(--light-gey-color)
}

#mcelec-nav.scrolled #mcelec-logo-svg{
  height: 0;
  margin-top: 0;
}




/*Header////////////////////////////////////////*/

#mcelec-header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: clamp(calc(var(--margin-header-top) * var(--scale-min)), calc(var(--margin-header-top) * var(--scale)), calc(var(--margin-header-top) * var(--scale-max)));
  margin-bottom: clamp(calc(var(--margin-large) * var(--scale-min)), calc(var(--margin-large) * var(--scale)), calc(var(--margin-large) * var(--scale-max)));
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#mcelec-header .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.227);
}

#header-content{
  width: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border: 0.1vh solid var(--light-grey-color);
  border-radius: 0px;
  -webkit-backdrop-filter: 0px;
  -moz-backdrop-filter: 0px;
  -ms-backdrop-filter: 0px;
  backdrop-filter: blur(3vh);
}


#mcelec-statement{
  margin: 2vh;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: clamp(calc(var(--h3-height) * var(--scale-min)), calc(var(--h3-height) * var(--scale)), calc(var(--h3-height) * var(--scale-max)));
  font-family: 'Sawarabi Mincho';
  text-shadow: black -0.03em 0.03em 0.1em;
}

#get-contacted-link, #request-send{
  background: transparent;
  color: var(--white-color);
  letter-spacing: clamp(calc(var(--nav-letter-space) * var(--scale-min)), calc(var(--nav-letter-space) * var(--scale)), calc(var(--nav-letter-space) * var(--scale-max)));
  font-weight: 500;
  font-size: clamp(calc(var(--h1-height) * var(--scale-min)), calc(var(--h1-height) * var(--scale)), calc(var(--h1-height) * var(--scale-max)));
  height: clamp(calc(var(--btn-height) * var(--scale-min)), calc(var(--btn-height) * var(--scale)), calc(var(--btn-height) * var(--scale-max)));
  width: auto;
  padding-inline: 1em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.5s;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border: 0.2em solid var(--highlight-color);
  border-radius: 0px;
  text-shadow: black -0.03em 0.03em 0.1em;
  margin-bottom: 3vh;
}

#get-contacted-link:hover, 
#get-contacted-link:active, 
#get-contacted-link:focus,
#request-send:hover, 
#request-send:active, 
#request-send:focus {
  outline: none;
  background: var(--highlight-color);
  color: var(--white-color);
  box-shadow: none;
}

#service-list{
  /* margin-top: 10vh; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-grey-color);
  padding: 5vh;
  gap: 3vh;
}

#service-list ul{
  /* background-color: blue; */
  /* margin-left: 3vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  border-left: 0.1vh solid var(--light-grey-color);
  padding-left: 1vh;

}
/* 
#service-list ul:not(:first-child){
  margin-left: 3vh;
} */


#service-list ul li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(calc(var(--h3-height) * var(--scale-min)), calc(var(--h3-height) * var(--scale)), calc(var(--h3-height) * var(--scale-max)));
  color: var(--white-color);
  display: flex;
  text-decoration: none;
  /* text-shadow: black -0.03em 0.03em 0.1em; */

}

/*Articles*/

#mcelec-articles{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: clamp(calc(var(--margin-large) * var(--scale-min)), calc(var(--margin-large) * var(--scale)), calc(var(--margin-large) * var(--scale-max)));

}

#mcelec-articles article{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 160vh;
  margin-bottom: 10vh;
}

#mcelec-articles article a{ /*internal link anchors*/
  display: block;
  position: relative;
  --mh: clamp(calc(var(--margin-header-top) * var(--scale-min)), calc(var(--margin-header-top) * var(--scale)), calc(var(--margin-header-top) * var(--scale-max)));
  top: calc(-0.75 * var(--mh));
  visibility: hidden;
}

.article-img {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 30vh;
  margin-bottom: 3vh;;
}

.article-content {
  width: 70%;
  background: var(--black-color);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.article-content h2{
  font-weight: 700;
  margin-left: -1em;
  color: var(--white-color)
}

.article-content p{
  font-size: clamp(calc(var(--h3-height) * var(--scale-min)), calc(var(--h3-height) * var(--scale)), calc(var(--h3-height) * var(--scale-max)));
  margin-top: 2vh;
  color: var(--light-gey-color);
}





/*Footer////////////////////////////////////////////////////////*/

#mcelec-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#let-us-contact{
  font-size: clamp(calc(1.7 * var(--scale-min)), calc(1.7 * var(--scale)), calc(1.7 * var(--scale-max)));
  margin-top: 2em;
  font-weight: 700;
}

#request-form{
  margin: 5vh;
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 20em;
}


#request-form input[type="Submit"]{ /*sumbit button*/
  margin-top: 1em;
  width: 90%;
  /* align-self: center; */
}

#request-method input:not(:first-child){
  margin-left: 2em;
}


#request-type input:not(:first-child){
  margin-left: 1em;
}

#request-method input,
#request-type input{
  accent-color: var(--highlight-color);
  margin-right: 0.5em;
}


#request-name, #request-email, #request-number{
  height: 1.1em;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: clamp(calc(1.5 * var(--scale-min)), calc(1.5 * var(--scale)), calc(1.5 * var(--scale-max)));

}

#request-name:focus, #request-email:focus, #request-number:focus{
  outline: none;

}

#request-number{
  display: none;
}

#method-input{
  width: 100%;
}

.radio-group{
  display: flex;
  font-size: 0.75em;
  justify-content: center;
  /* margin-bottom: 1em; */
  margin-top: 0.5em;
}
.request-label{
  font-weight: 600;
}

#copyright{
  margin: 10vh;
  text-align: center;
}

/*Mobile devices*/

.is-mobile body{
  background-color: pink;
}

